<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
            <div id="logo">
                <h1><a href="/">Verti</a></h1>
                <span>by HTML5 UP</span>
            </div>

        <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="/">Homepage</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/add">Add Photo</a></li>
                </ul>
            </nav>

    </header>
</div>