
<%- include('partials/_header.ejs') %>

	<body class="is-preload no-sidebar">
		<div id="page-wrapper">

			<%- include('partials/_navigation.ejs') %>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div id="content">

							<h2>Add a Photo</h2>

							<form action="" method="post">
								<input type="text" placeholder="Title" required style="margin-bottom: 15px;">
								<textarea placeholder="Description" name="" id="" cols="30" rows="10" style="margin-bottom: 15px;"></textarea>
								<input type="file">
								<button type="submit" style="margin-left: 275px;">Submit</button>
							</form>

						</div>
					</div>
				</div>

				<%- include('partials/_footer.ejs') %>

	</body>
</html>